h1{
    text-align: center;
}
.Play-btn{
    text-align: center;
}
.Play-btn button{
    width: 80px;
    height: 40px;
    border-radius: 30px;
    border: 0.5px solid #E9E9E9;
    color: black;
    background-color: white;
    font-size: 15px;
    margin-right: 20px;
    
}
.Play-btn button:focus {
    background-color: #8E43E7;
    color: white;
    font-weight: 600;
}

.gerne-total-list {
    display:flex;
    position: relative;
    width: 1440px;
    overflow: hidden;
}

.gerne-list {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    margin-top: 40px;
    
}

.gerne-list__content-title {
    margin-bottom: 5px;
    width: 200px;

}

.gerne-list__content-title span {
    font-size: 18px;
    font-weight: 800;
}

.gerne-list__content-time {
    color: #A5A5A5;
}

#badge button {
    color: #B070F0;
    border: 0.1px solid #B070F0;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
    }

#badge2 button {
    color: chocolate;
    border: 0.1px solid chocolate;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

.gerne-list__ranking {
    position: absolute;
    bottom: 120px;
    color: white;
    font-size: 60px;
    font-weight: 900;
    transition: transform 0.5s ease-in-out;
}

.gerne-list__content{
    transition: transform 0.5s ease-in-out;
}
.gerne-list-btn {
    position: absolute;
    opacity: 0.8;
    top: 120px;
    z-index: 10;
}

.gerne-list-btn i {
    opacity: 1;
}

.gerne-screen-btn-right {
    right:10px;
}

#gerne-prevbtn,#gerne-nextbtn{
    border: none;
    background-color: aqua;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.card-body{
    padding: 0 0 0 1rem;
    display: flex;

    
}
.card{
    border: 1px solid #e8e8e8;
    border-radius: 0 0 1.2rem 1.2rem;
    margin-left: 90px;
    margin-right: 50px;
    width: 20rem;
    
}
.span_exp{
    font-style: normal;
    font-weight: 700;  
    padding: 10px 10px 8px 10px;
}
.gerne-total-list{
    margin-top: 40px;
}