.banner{position: relative;}
.point1{width: 50px; border-radius: 6px; position: absolute; bottom: 0; z-index: 1;}
.point2{width: 50px; border-radius: 6px; position: absolute; bottom: 0; left: 5%; z-index: 1;}
.point3{width: 50px; border-radius: 6px; position: absolute; bottom: 0; left: 10%; z-index: 1;}
.point4{width: 50px; border-radius: 6px; position: absolute; bottom: 0; left: 15%; z-index: 1;}
.point5{width: 50px; border-radius: 6px; position: absolute; bottom: 0; left: 20%; z-index: 1;}
.point6{width: 50px; border-radius: 6px; position: absolute; bottom: 0; left: 25%; z-index: 1;}
.point7{width: 50px; border-radius: 6px; position: absolute; bottom: 0; left: 30%; z-index: 1;}
.point8{width: 50px; border-radius: 6px; position: absolute; bottom: 0; left: 35%; z-index: 1;}

.point1:hover, .point2:hover, .point3:hover, .point4:hover, .point5:hover, .point6:hover, .point7:hover, .point8:hover{border: 3px solid white;}

.banner__pointer__img1, .banner__pointer__img2, .banner__pointer__img3, .banner__pointer__img4{display: none;}
.banner__pointer__img5, .banner__pointer__img6, .banner__pointer__img7, .banner__pointer__img8{display: none;}

.point1:hover ~ .banner-slide{display: none;}
.point1:hover ~ .banner__pointer__img1{display: block;}


.point2:hover ~ .banner-slide{display: none;}
.point3:hover ~ .banner-slide{display: none;}
.point4:hover ~ .banner-slide{display: none;}
.point5:hover ~ .banner-slide{display: none;}
.point6:hover ~ .banner-slide{display: none;}
.point7:hover ~ .banner-slide{display: none;}
.point8:hover ~ .banner-slide{display: none;}

.point2:hover ~ .banner__pointer__img2{display: block;}
.point3:hover ~ .banner__pointer__img3{display: block;}
.point4:hover ~ .banner__pointer__img4{display: block;}
.point5:hover ~ .banner__pointer__img5{display: block;}
.point6:hover ~ .banner__pointer__img6{display: block;}
.point7:hover ~ .banner__pointer__img7{display: block;}
.point8:hover ~ .banner__pointer__img8{display: block;}