@import "/css/style.css";

body {
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.detail-main {
    padding: 0px 30px;
    display:flex;
    justify-content: center;
}

detail-screen {
    width: 83%;
}

.detail-title-btn {
    margin: 10px 0px;
}

.detail-title-btn button {
    font-size: 11px;
    padding:  3px 10px;
    background-color: white;
    color:#333333;
    font-weight: 900;
}

.detail-title h3 {
    font-weight: 600;
}

.detail-title span {
    opacity: 0.8;
    font-size: 13px;
    margin: 20px 0;
    display:block;
}

.detail-content {
    display:flex;
}

.detail-img {
    position: relative;
}

.detail-img img {
    z-index: 0;
    width: 300px;
    height: 400px;
}

.detail-img__play {
    width: 35px;
    height: 35px;
    background-color: #696969;
    opacity: 0.7;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 130px;
    left: 10px;
    z-index: 9;
}

.detail-img__play i {
    color: white;
    opacity: 1;
    z-index: 10;
}

.detail-img__bottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.detail-img__bottom-sns {
    display:flex;
}

.detail-img__bottom-sns div{
    width: 25px;
    height: 25px;
    background-color: #696969;
    border-radius: 50%;
    margin: 0px 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.detail-img__bottom-sns i{
    color: white;
}

.detail-info {
    font-size: 15px;
}


.infoItem {
    display:flex;
    margin-bottom: 20px;
}

.infoItem span {
    width: 80px;
}

.infoItem ul {
    padding: 0px;
}

.infoItem-content i {
    font-size:1;
    color: black;
}

.price-list__title {
    font-size: 17px;
    color: black;
    text-decoration: none;
    font-weight: 800;
}

.price-list__price {
    margin: 8px 0;
}

.price-list__title i {
    margin-left: 10px;
}

.price-list__price span:first-child {
    opacity: 0.8;
    font-size: 13px;
}

.price-list__price span:last-child{
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
}

.info-content__benefit, .info-content__benefit2  {
    margin-bottom: 5px;
}

.info-content__benefit2 a {
    font-size: 12px;
    opacity: 0.8;
}

.info-content__benefit2 i {
    font-size: 8px;
}

.bottom-menu {
    border-bottom: 1px solid#666666;
}

.bottom-menu-list {
    display:flex;
    color: #666666;
    font-weight: 900;
    padding: 0px;
}

.bottom-menu-list li {
    padding: 0 20px;
    background-color: transparent;
}

.bottom-menu-list li:first-child {
    margin-left: 0px;
}

.bottom-menu-list li:focus {
    border-bottom: 5px solid #333333;
}

.bottom-menu-list a:focus {
    color: black;
    border-bottom: 10px bold #333333;
}

.bottom-casting__title {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 55px 0px;

}

.bottom-casting__title-left span {
    font-size: 18px;
    font-weight: 800;
}

.bottom-casting__title-btn button {
    border: 1px solid #DDDDDD;
    background-color: white;
    opacity: 0.8;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
}

.bottom-casting__imgs {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.bottom-casting__imgs-img {
    display:flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

.bottom-casting__imgs-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.bottom-casting__imgs-icon {
    width: 30px;
    height: 30px;
    background-color: #DDDDDD;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    right: 0px;
}

.bottom-casting__imgs-icon i {
    color: white;
}

.bottom-casting__imgs-name {
    font-weight: 600;
    font-size: 14px;
}
.bottom-casting__imgs-actor {
    font-size: 14px;
    opacity: 0.8;
}

.about-performance {
    margin-top: 60px;
}

.about-performance h3 {
    font-weight: 600;
}

.about-performance__time {
    display:flex;
    flex-direction: column;

}

.about-performance__time span {
    margin: 20px 0px;
}

.detail-sticky {
    width: 20rem;
    margin-top: 40px;

    margin-left: 50px;
}

.detail-sticky-box {
    position: sticky;
    top: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.detail-sticky-box__book-btn {
    margin-top: 20px;
    border:1px solid black;
    width: 340px;
    height: 55px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #666666;
}

.accordion-header {
    width: 20rem;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
    transform: rotate(-180deg);
}

#round  {
    display:flex;
    justify-content: center;
    align-items: center;
}

#round button {
    padding: 5px 50px 5px 10px;
    border: 1px solid black;
    background-color: white;
    margin-top: 5px;
}

.seat-class {
    display:flex;
    margin-top: 10px;
    text-align: center;
}

.seat-class div {
    font-size: 12px;
    margin-right: 5px;
}

.seat-class span:last-child {
    font-weight: 600;
    color:#696969;
}

.detail-sticky-box__book-btn:hover {
    background-color: #333333;
    color: white;
}

/* Calendar */

.cal-list {
    display:flex;
    justify-content:space-between;
}

.cal-list button {
    border: none;
    background-color: white;
}

.cal-first-line {
    justify-content: flex-end;
}

#calendar ul {
    padding:0px;
}

#calendar-title {
    text-align: center;
    margin-bottom: 10px;
}

.cal-btn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cal-btn.active {
    background-color: #666666;
    color: #fff;
}

/* Modal */

.modal-location-info span {
    display:block;
}

.modal-location-map img {
    width: 90%;
}

.modal-size {
    height: 700px;
}

#round {
    display:flex;
    justify-content: center;
    align-items: center;
}

.time-btn {
    padding: 5px 50px 5px 10px;
    border: 1px solid #666666;
    background-color: white;
    color: #666666;
    margin-top: 5px;
}

.time-btn.active{
    color: white;
    background-color: #666666 !important;
    border: 1px solid lightpink;
    font-weight: 500;
}