.gerne-list-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    background-color: white;
    border-radius: 50%;
    top: 120px;
    z-index: 10;
    display:flex;
    justify-content: center;
    align-items: center;
}

.gerne-list-btn i {
    opacity: 1;
}

.gerne-screen-btn-left {
    left:-10px;
}

.gerne-screen-btn-right {
    right:10px;
}