@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Poor+Story&family=Yeon+Sung&family=Jua&family=Nanum+Pen+Script&family=Gaegu&display=swap');
@font-face {
    font-family: 'BMJUA';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omyu_pretty';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* HEADER */

body{
    font-family: 'BMJUA';
}

.text_c{
    border-radius: 24px;
    width: 400px;
    height: 40px;
    padding-right: 40px;
  }

  .search-icon{
    position:relative;
    right:40px;
    top: 11px;
  }

  .login{
    margin: 20px;
  }

  .navbar-brand {
    font-family: "Gaegu", sans-serif;
    font-size: 50px;
    font-weight: 600;
  }

  .navbar-nav{
    display: flex;
    align-items: center;
  }

  .under_nav a{
    color:black;
    text-decoration: none;
    margin: 10px;
    font-weight: 300;
  }

.purple a{
    color:purple;
    font-weight: 300;
  }

.login a {
    text-decoration: none;
    color: inherit;
}

.login a:hover {
    color: #8E43E7 !important;
}

#google_translate_element {
    display: none;
    position: absolute;
    z-index: 1000;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.translate-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Main-banner */

.main-screen {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner{
    position: relative;
    width: 100vw;
}

.banner__pointer{
    margin-top: 1rem;
}

.carousel-item{
    height: 60vh;
    transition: transform 2s ease, opacity 2s ease;
}

.w-100{
    height: 60vh;
}

.point1, .point2, .point3, .point4, .point5, .point6, .point7, .point8 {
    width: 50px; 
    border-radius: 6px; 
    position: absolute; 
    bottom: 0;
    z-index: 1;
}

.point1{
    left: 4%;
}
.point2{
    left: 7%;
}
.point3{
    left: 10%;
}
.point4{
    left: 13%;
}
.point5{
    left: 16%;
}
.point6{
    left: 19%;
}
.point7{
    left: 22%;
}
.point8{
    left: 25%;
}

.point1:hover, .point2:hover, .point3:hover, .point4:hover, 
.point5:hover, .point6:hover, .point7:hover, .point8:hover {
    border: 3px solid white;
}

.banner__pointer__img1, .banner__pointer__img2, .banner__pointer__img3, .banner__pointer__img4,
.banner__pointer__img5, .banner__pointer__img6, .banner__pointer__img7, .banner__pointer__img8 {
    display: none;
}

.point1:hover ~ .banner-slide, 
.point2:hover ~ .banner-slide,
.point3:hover ~ .banner-slide,
.point4:hover ~ .banner-slide,
.point5:hover ~ .banner-slide,
.point6:hover ~ .banner-slide,
.point7:hover ~ .banner-slide,
.point8:hover ~ .banner-slide {
    display: none;
}

.point1:hover ~ .banner__pointer__img1,
.point2:hover ~ .banner__pointer__img2,
.point3:hover ~ .banner__pointer__img3,
.point4:hover ~ .banner__pointer__img4,
.point5:hover ~ .banner__pointer__img5,
.point6:hover ~ .banner__pointer__img6,
.point7:hover ~ .banner__pointer__img7,
.point8:hover ~ .banner__pointer__img8 {
    display: block;
}

.banner-slide-mini{display: none;}

/* Gerne-List  */

.gerne-title {
    margin-bottom: 10px;
    margin-top: 30px;
}

.gerne-btn {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

.gerne-btn button{
    width: 80px;
    height: 40px;
    border-radius: 30px;
    border: 0.5px solid #E9E9E9;
    color: black;
    background-color: white;
    font-size: 15px;
    margin-right: 10px;
}

.gerne-btn button:focus {
    background-color: #666666;
    color: white;
    font-weight: 500;
}

.gerne-list-btn {
    position: absolute;
    opacity: 0.8;
    top: 120px;
    z-index: 10;
}

.gerne-list-btn i {
    opacity: 1;
}

.gerne-screen-btn-right {
    right:0px;
}

#gerne-prevbtn,#gerne-nextbtn{
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: hsla(0,0%,100%,.9);
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .13);
}

.gerne-total-list {
    display:flex;
    position: relative;
    width: 1440px;
    overflow: hidden;
}

.gerne-list img {
    width: 240px;
    height: 320px;
    border-radius: 10px;
}

.gerne-list {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.gerne-list__ranking {
    position: absolute;
    bottom: 120px;
    color: white;
    font-size: 60px;
    font-weight: 900;
}

.gerne-list__content-title {
    margin-bottom: 5px;
    width: 200px;
}

.gerne-list__content-title span {
    font-size: 18px;
    font-weight: 800;
}

.gerne-list__content-time {
    color: #A5A5A5;
}

#badge button {
    color: #B070F0;
    border: 0.1px solid #B070F0;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

#badge2 button {
    color: chocolate;
    border: 0.1px solid chocolate;
    background-color: white;
    font-weight: 600;
    border-radius: 5px;
}

/* ArtPark Play */

#artpark-title{
    text-align: center;
    margin: 20px 0px;
}

.artpark-play-list {
    display:flex;
    position: relative;
    width: 1440px;
    overflow: hidden;
    margin-top: 1em;
}

.play-list{
    border: 1px solid #e8e8e8;
    border-radius: 1.2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    height: 280px;
    transition: transform 0.5s ease-in-out;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-top: 20px;
}

.Play-btn{
    text-align: center;
}

.play-list-youtube{
    width: 400px;
    height: 175px;
}

.Play-btn button{
    width: 80px;
    height: 40px;
    border-radius: 30px;
    border: 0.5px solid #E9E9E9;
    color: black;
    background-color: white;
    font-size: 15px;
    margin-right: 20px;
}

.Play-btn button:focus {
    background-color: #666666;
    color: white;
    font-weight: 600;
}

.play-list-btn {
    position: absolute;
    opacity: 0.8;
    top: 100px;
    z-index: 10;
}

.play-list-btn-right {
    right:0px;
}

#play-list-prevbtn,#play-list-nextbtn{
    border: none;
    background-color: hsla(0,0%,100%,.9);
    box-shadow: 0 0 .8rem rgba(0, 0, 0, .13);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.play-list-body{
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    padding-top: 10px;
}


.play-list-body img{
    width: 52px;
    height: 66px;
}

.span_exp{
    font-style: normal;
    font-weight: 700;  
    padding: 10px 10px 8px 10px;
}

/* Review */

/* 추가 */
@keyframes change_image{
    0% {background: url("https://www.yeongnam.com/mnt/file/202308/2023081601000513400020721.jpg") no-repeat center; background-size: cover;}
    25% {background: url("https://cdn.ardentnews.co.kr/news/photo/202401/2583_11513_52.jpg") no-repeat center; background-size: cover;}
    50% {background: url("https://www.sisajournal.com/news/photo/202111/228155_137059_3814.jpg") no-repeat center; background-size: cover;}
    75% {background: url("https://dimg.donga.com/wps/NEWS/IMAGE/2016/02/03/76284252.2.jpg") no-repeat center; background-size: cover;}
    100% {background: url("https://dimg.donga.com/wps/NEWS/IMAGE/2023/03/29/118587483.2.jpg") no-repeat center; background-size: cover;}
}
.notice-video{position: relative; padding: 100px 0 0 600px;}
.image-video__wrap{
    position: absolute;
    left: 0;
    top: 100px;
}
.image-video__border{
    width: 350px;
    height: 600px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    overflow: hidden;
}
.image-video__play{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("https://www.yeongnam.com/mnt/file/202308/2023081601000513400020721.jpg") no-repeat center;
    background-size: cover;
    animation: change_image 30s ease 1.5s infinite;
}

.notice__wrap ul{padding: 0;}
.notice__wrap li{border-bottom: 1px solid #666; height: 60px;}
.notice__wrap li a{
    line-height: 60px;
    text-decoration: none;
    color: black;
}
.notice__wrap li a:hover{font-weight: bold;}
.notice__title{
    padding: 0 0 9px 0;
    font-size: 77px;
    font-style: italic;
}

.best-review-background{
    background-color: #232221;
    width: 100%;
} 

/* 추가 */

.best-review__box{width: 1200px;}
.best-review__list{padding: 0 0 150px 400px;}
.best-review__list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 150px 0 0 0; /* 추가 */
}
.best-review__list ul li:nth-child(2n){margin-top: 100px;}
.no-dot{list-style-type: none;}
.review__img{box-shadow: 0 0 0 2px rgba(0, 0, 0, .08);}
.review__card__body{padding: 40px 20px;}
.card-front__title{
    font-family: "Jua", sans-serif;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -1px;
}
.reviewer{display: flex;}
.reviewer__img{border: 1px solid lightgray; border-radius: 50%;}
.review__card{
    display: inline-grid;
    transition: transform 1.5s;
    transform: perspective(3000px) rotateY(0deg);
    transform-style: preserve-3d;
}
.review__card:hover{
    transform: perspective(3000px) rotateY(180deg);
}
.review__card > * {
    grid-area: 1 / 1 / 1 / 1;
    width: 350px;
    height: 600px;
    padding: 12px;
    border-radius: 8px;
    backface-visibility: hidden;
}
.review__card-front{ background-color: white; border: 1px solid black;}
.review__card-back{ background-color: white; border: 1px solid black; transform: rotateY(180deg);}
.card-back__name{font-size: 15px; color: #999; font-family: "Nanum Pen Script", cursive;}
.card-back__title{font-weight: 700; font-size: 20px;  font-family: "Yeon Sung", system-ui;}
.reviewer__star{color: #FDBA39;}
.reviewer__point{font-weight: 700; font-size: 15px;}
.card-back__comment{font-size: 15px; font-family: 'omyu_pretty';}
.mr-10{margin-right: 10px;}

/* Footer */

footer{
    background-color: black;
    padding: 10px 0px;
}

.footer_btn_1{
    width: 324px;
    height: 69px;
    background-color: #2B2B2B;
    color: #FFFFFF;
}
.footer_btn_2{
    width: 324px;
    height: 69px;
    background-color: #2B2B2B;
    color: #FFFFFF;
}
.footer_left_1{
    margin-left: 80px;
    margin-top: 50px;
}

.dropdown-menu {
    width: 322px;
    height: 58px;
    background-color: #000000; 
}
.dropdown-item{
    color: white;
}
.footer_left_bottom{
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
}

.footer_icon a{
    margin-top: 10px;
    margin-left: 22px;
    padding: 9px;
    color: #737373;
    font-size: 30px;
    text-decoration: none;
}
.footer_right{
    float: right;
    margin-left: 100px;
}

.p_first{
    text-align: right;
    color: #737373;
}
.p_second{
    text-align: right;
    margin-top:10px ;
    color: #737373;
}
.footer_right_bottom a{
    text-decoration: none;
    color: #737373;
    padding: 30px;
}
.btn-outline-success{
    padding-right: 30px;
    background-color: white;
    color: #000000;
}

.footer-form{
    border-radius: 0px;
}


.footer-btn {
    width: 322px;
    height: 58px;
    color: black;
    border-radius: 0px;
}

.footer-btn:hover{
    background-color: #000000;
}


.d-flex button:hover{
    background-color: #000000;
    color: white;
    border-color: #000000;
}

.footer_end{
    color:#8585854D;
    text-align: center;
    font-size: 14px;
}

.footer-main{
    display: flex;
    justify-content: center;
}

hr{
    width: 100%;
    border: 1px solid #343434;
}

  @media screen and (max-width:48rem) {
  .footer_first a {
    text-align: left;
    font-size: 8px;
    margin-right: 10px;
  }
  .dropdown1{
    display: none;
  }
  .dropdown2{
    display: none;
  }
  .footer_div_2{
    display: none;
  }
  .footer_third{
    font-size: 8px;
    text-align: left;
    margin-left: 15px;
    margin-right: 20px;
  }
}

@media screen and (max-width:759px) {
    details{
      font-size: 10px;
      display: block;
      margin-bottom: 20px;
      margin-left: 15px;
      text-align: center;
    }

    details p{
      text-align: left;
      margin-left: 70px;
    }

    .review__card{
        display: inline-grid;
        transition: transform 1.5s;
        transform: perspective(800px) rotateY(0deg);
        transform-style: preserve-3d;
    }
    
    .review__card:hover{
        transform: perspective(800px) rotateY(180deg);
    }

    /*nav 수정*/
    
    .under_nav{
        display: none;
    }
    .nav-item{
        display:none;
    }
    .translate-button{
        display: none;
    }

    /*footer 수정*/

    .footer_mdqr{
        display: block;
        text-align: center;
        padding-bottom: 15px;
    }
    .footer-main{
        display: none;
    }
    .footer_end{
        display: none;
    }
    .footer_btn_mdqr_1{
        width:220px;
        height:50px;
        margin: 10px;
        background-color: white;
        color: black;
    }
    .footer_btn_mdqr_1:hover{
        background-color: black;
        color: white;
        border: 1px solid black;
    }
    .footer_btn_mdqr_2{
        width: 220px;
        height:50px;
        margin: 10px;
        background-color: white;
        color: black;
    }
    .footer_btn_mdqr_2:hover{
        background-color: black;
        color: white;
        border: 1px solid black;
    }
    .footer_icon2 a{
        text-decoration: none;
        color:white;
        font-size: 25px;
        padding: 30px;
        margin-bottom: 20px;
    }
    .footer_right_bottom2 a{
        margin-top: 30px;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        color: white;
    }
    .footer_right_bottom2 a:hover{
        text-decoration: underline;
    }

    .footer_right_bottom2{
        padding-top: 10px;
    }

    .footer_end2 {
        color: white;
        text-align: left;
        margin: 10px;
        font-size: 10px;
    }
  }

  @keyframes change_image{
    0% {background: url("https://ticketimage.interpark.com/Play/image/large/24/24008188_p.gif") no-repeat center; background-size: cover;}
    25% {background: url("https://ticketimage.interpark.com/Play/image/large/24/24006581_p.gif") no-repeat center; background-size: cover;}
    50% {background: url("http://ticketimage.interpark.com/TicketImage/notice_poster/20/2024052816291188.jpg") no-repeat center; background-size: cover;}
    75% {background: url("http://ticketimage.interpark.com/TicketImage/notice_poster/20/20240603113126.jpg") no-repeat center; background-size: cover;}
    100% {background: url("http://ticketimage.interpark.com/TicketImage/notice_poster/20/20240607014118.jpg") no-repeat center; background-size: cover;}
}

.notice-video{
    position: relative; padding: 100px 0 0 600px;
}

.image-video__wrap{
    position: absolute;
    left: 0;
    top: 100px;
}

.image-video__border{
    width: 350px;
    height: 600px;
    border-top-left-radius: 250px;
    border-top-right-radius: 250px;
    overflow: hidden;
}

.image-video__play{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("https://ticketimage.interpark.com/Play/image/large/24/24007166_p.gif") no-repeat center;
    background-size: cover;
    animation: change_image 30s ease 1.5s infinite;
}

.notice__wrap ul{
    padding: 0;
}

.notice__wrap li{
    border-bottom: 1px solid #666; height: 60px;
}

.notice__wrap li a{
    line-height: 60px;
    text-decoration: none;
    color: black;
}

.notice__wrap li a:hover{
    font-weight: bold;
}

.notice__title{
    padding: 0 0 9px 0;
    font-size: 77px;
    font-style: italic;
}

.best-review-background{
    background-color: #232221;
}


@media screen and (max-width:48rem){
    .point1, .point2, .point3, .point4, .point5, .point6, .point7, .point8{display: none;}

    .banner-slide{display: none;}
    .banner-slide-mini{display: block;}

    .image-video__wrap{display: none;}
    
    .notice-video{padding: 100px 0 0 0;}
    .notice__title{font-size: 40px; text-align: center;}
    .notice__wrap ul{text-align: center;}
    .notice__wrap a{margin: 0;}
    .notice__wrap span{display: none;}
    
    .best-review__box{width: 100%;}
    .best-review__list{padding: 0;}
    .best-review__list ul{padding: 0; flex-wrap: nowrap; flex-direction: column; text-align: center;}
    .best-review__list ul li:nth-child(2n){margin: 20px 0;}
   
    .review__card{height: 460px;}
    .review__card-front{height: 460px;}
    .review__card-front .review__card__body{display: none;}
    .review__card-back{height: 460px;}
    .review__card-back .review__card__body{padding: 20px 10px;}
    .card-back__name{font-size: 15px;}
    .card-back__title{font-weight: 700; font-size: 18px;}
}
@media screen and (min-width:759px) {
    /*nav 수정*/
    .nav-item2{
        display:none;
    }
    .footer_mdqr{
        display: none;
    }
}

@media (max-width:800px){
    .gerne-btn {
        display:block;
        text-align: center;
    }
    .gerne-total-list {
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .artpark-play-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .gerne-list-btn {
        display:none;
    }

    .gerne-list {
        margin-top: 30px;
    }
    .play-list-btn {
        display: none;
    }

    .text_c {
        border-radius: 24px;
        width: 330px;
        height: 40px;
        padding-right: 40px;
    }

    .play-list-youtube{
        width: 300px;
        height: 175px;
    }
    
    .play-list{
        width: 300px;
        margin-bottom: 20px;
    }

    .banner__pointer{
        margin-top: 0px;
    }
}

