.body_color{
    background-color: #000000;
}
.footer_btn_1{
    width: 324px;
    height: 69px;
    background-color: #2B2B2B;
    color: #FFFFFF;
}
.footer_btn_2{
    width: 324px;
    height: 69px;
    background-color: #2B2B2B;
    color: #FFFFFF;
}
.footer_left_1{
    margin-left: 80px;
    margin-top: 50px;
}
.btn {
    width: 322px;
    height: 58px;
    background-color: #000000;
    color: white;
    border-radius: 0px;
}
.dropdown-menu {
    width: 322px;
    height: 58px;
    background-color: #000000; 
}
.dropdown-item{
    color: white;
}
.footer_left_bottom{
    margin-left: 80px;
    margin-top: 20px;
    display: flex;
    
}
.footer_icon a{
    margin-top: 10px;
    margin-left: 22px;
    padding: 9px;
    color: #737373;
    font-size: 30px;
}

.fa-brands {
    display: none;
}